 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

.font-playfair {
  font-family: 'Playfair Display', serif;
}
.font-display {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
